# Sample estimates

In [1]:
import pandas as pd
import numpy as np

ds = pd.read_csv('10000.csv', parse_dates=[1,2])
ds.head().T

,0,1,2,3,4
VendorID,2,1,1,1,2
tpep_pickup_datetime,2016-12-19 20:13:04,2016-12-27 19:28:48,2016-12-17 00:57:37,2016-12-01 20:32:54,2016-12-12 19:25:14
tpep_dropoff_datetime,2016-12-19 20:16:58,2016-12-27 19:30:31,2016-12-17 01:10:37,2016-12-01 20:52:17,2016-12-12 19:34:15
passenger_count,1,1,3,1,2
trip_distance,0.87,0.1,2.3,5,1.43
RatecodeID,1,1,1,1,1
store_and_fwd_flag,N,N,N,N,N
PULocationID,238,231,90,13,164
DOLocationID,142,144,233,143,79
payment_type,1,2,1,1,1
fare_amount,5,3,11,18.5,7.5
extra,0.5,1,0.5,0.5,1
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,1.5,0,2.45,3.95,1
tolls_amount,0,0,0,0,0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3
total_amount,7.8,4.8,14.75,23.75,10.3

**payment_type**
1. Credit card
2. Cash
3. No charge
4. Dispute
5. Unknown
6. Voided trip

In [2]:
# how many passengers in the sample paid for their ride with cash?
cash = ds.payment_type==2
print sum(cash)

3543

In [3]:
# build a 99% confidence interval for the proportion of cash payers. What is its' lower boundary?
from statsmodels.stats.proportion import proportion_confint
proportion_confint(sum(cash), len(cash), alpha=0.01)[0]

0.34197979174644566

In [4]:
# estimate the average trip distance in miles
m = ds.trip_distance.mean()
print m

2.881264

In [5]:
# what is the standard deviation of the estimator from the previous question?
s = ds.trip_distance.std(ddof=1)/np.sqrt(len(ds))
print s

0.03583925411394529

In [6]:
# calculate 95% confidence interval for the mean trip distance. What is the upper boundary?
from statsmodels.stats.weightstats import _tconfint_generic
_tconfint_generic(m, s, len(ds)-1, 0.05, 'two-sided')[1]

2.9515161512014023