# Counting number of the mutual friends
For each user having ID in the column userId count the amount of his / her common friends with each other user having ID in the column userId.

Print 49 pairs of the users having the largest amount of common friends, ordered in descending order first by the common friends count , then by id of user1 and finally by id of user 2. The format is following: "count user1 user2"7

Example:
<code>
234	54719	767867
120	54719 767866
97 50787 327676
</code>

To solve this task use the algorithm described in the last video of lesson 1. The overall plan could look like this:

* Create a new column “friend” by exploding of column “friends” (like in the demo iPython notebook)
* group the resulting dataframe by the column “friend” (like in the demo iPython notebook)
* create a column “users” by collecting all users with the same id in the column “friend” together (like in the demo iPython notebook)
* sort the elements in the column “users” by the function sort_array
* filter only the rows which have more than 1 element in the column “users”
* for each row emit all possible ordered pairs of users from the column “users” (tip: write a user defined function for this)
* count the number of times each pair has appeared
* with the help of the window function (like in the demo python notebook) select 49 pairs of users who have the biggest amount of common friends

The sample dataset is located at /data/graphDFSample.

The part of the result on the sample dataset:

<code>...
3044 21864412 51640390
3021 17139850 51640390
3010 14985079 51640390
2970 17139850 21864412
2913 20158643 27967558
...</code>

Notes

The system grades standard output and error streams from the last non-empty cell.
If you have clicked "Open tool" and received "404" or "405" error, please reload the page from the Coursera interface.
If you want to deploy the environment on your own machine, please use bigdatateam/spark-course2 Docker container.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.enableHiveSupport().master("local").getOrCreate()

In [2]:
def emit_internal(arr):  
    l = len(arr)
    for i in range(l):
        for j in range(i+1,l):        
            x, y = arr[i], arr[j]
            yield [x,y] if x<y else [y,x]

def emit(arr):
    return list(emit_internal(arr))

for i in emit([5,4,2,1,3]):
    print i

[4, 5]
[2, 5]
[1, 5]
[3, 5]
[2, 4]
[1, 4]
[3, 4]
[1, 2]
[2, 3]
[1, 3]

In [3]:
import pyspark.sql.functions as f
import pyspark.sql.types as t

emit_udf = f.udf(emit, t.ArrayType(t.ArrayType(t.IntegerType())))

df = spark.read.parquet("/data/graphDFSample") \
    .select("user", f.explode("friends").alias("friend")) \
    .groupBy("friend").agg(f.collect_list("user").alias("users")) \
    .where(f.size("users") > 1) \
    .select(emit_udf("users").alias("pairs")) \
    .select(f.explode("pairs").alias("pair")) \
    .select(f.col("pair").getItem(0).alias("user1"), f.col("pair").getItem(1).alias("user2")) \
    .groupBy("user1", "user2").agg(f.count("*").alias("count")) \
    .orderBy(f.desc("count"), f.desc("user1"), f.desc("user2")) \
    .limit(49)

In [ ]:
for u1, u2, cnt in df.collect():
    print "%s %s %s" % (cnt, u1, u2)

3206 27967558 42973992
3130 20158643 42973992
3066 22582764 42973992
3044 21864412 51640390
3021 17139850 51640390
3010 14985079 51640390
2970 17139850 21864412
2913 20158643 27967558
2903 22280814 51151280
2870 23848749 51640390
2855 20158643 22582764
2849 20158643 44996025
2846 22280814 42973992
2784 21864412 23848749
2779 31964081 51640390
2776 39205988 51640390
2754 17139850 23848749
2749 22582764 27967558
2728 50561859 51640390
2724 15485897 51640390
2700 28135661 42973992
2655 22280814 27967558
2653 42973992 43548989
2639 26755857 51640390
2621 14635589 51640390
2608 15485897 17139850
2606 17139850 26755857
2601 21864412 39205988
2600 8406745 51640390
2599 37735419 51640390
2597 20158643 28135661
2585 40003405 42973992
2585 21864412 31964081
2581 27967558 43548989
2579 23848749 31964081
2578 27967558 28135661
2578 15485897 21864412
2577 42973992 64755069
2574 51151280 57077210
2573 20158643 43548989
2566 21864412 26755857
2564 22280814 64755069
2561 42973992 44996025
2556 17139850 39205988
2543 23848749 39205988
2521 17139850 31964081
2515 27967558 44996025
2506 41629539 51640390
2505 51151280 64755069